.mygroup-img {
  width: 100%;
  object-fit: cover;
  position: relative;
}
.my-group-scrool {
  height: 42vh;
}
.mygroup-item-img {
  background-color: #fff;
  position: relative;
}
.mygroup-item-img svg {
  width: 30px;
  height: 40px;
  position: absolute;
}
.mygroup-item-img svg path {
  color: var(--primary-color);
}
.my-group-header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.my-group-header button {
  font-size: 15px;
}
.group-modal {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.group-modal-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-modal-btn {
  background-color: var(--primary-color) !important;
  margin-top: 15px !important;
}
.group-modal-btn:hover {
  background-color: var(--primary-color);
}
.group-modal {
  border-radius: 10px;
}
.mygroup-info-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.group-info {
  background-color: rgb(16, 160, 16) !important;
  width: 85px;
}
.group-req-img {
  margin-left: 0px;
}
.group-req-name {
  display: flex;
  align-items: center;
}
.group-req-scroll {
  height: 300px;
  overflow: auto;
}
.my-group-popup-img {
  margin: 0;
  padding: 0;
}

.my-group-popup-title {
  width: 50%;
}
