.search-wrapper {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.search-icon svg {
  width: 30px;
  height: 30px;
  padding: 10px 20px;
  margin-top: 10px;
}
.search-input {
  width: 85%;
  height: 30px;
  outline: none;
  border: none;
  font-size: 16px;
}
